<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear close ion-ios-close-empty" ng-click="closeLogin()"></button>
        </div>
        <h1 class="title">Editar perfil</h1>
        <div class="buttons">
            <button class="button button-clear close" ng-click="closeLogin()">Salvar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list list-inset">
                <div class="item item-divider">
                    Informações da Conta
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Nome">
                        </label>
                <label class="item item-input">
                    <input type="text" placeholder="Usuário">
                        </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email">
                        </label>
            </div>
            <div class="list list-inset">
                <div class="item item-divider">
                    Informações Pessoais
                </div>
                <label class="item item-input">
                    <span class="input-label">Data de Nascimento</span>
                    <input type="date">
                        </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Sexo
                    </div>
                    <select>
                        <option selected>Feminino</option>
                        <option>Masculino</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Altura">
                        </label>
            </div>
            <div class="list list-inset">
                <div class="item item-divider">
                    Trocar Senha
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Senha Antiga">
                        </label>
                <label class="item item-input">
                    <input type="text" placeholder="Nova Senha">
                        </label>
                <label class="item item-input">
                    <input type="text" placeholder="Repita a Nova Senha">
                        </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
