<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear close ion-ios-close-empty icon-hover" ng-click="closeLogin()"></button>
        </div>
        <h1 class="title">Login</h1>
<!--        <div class="buttons">-->
<!--            <button class="button button-clear close" ng-click="closeLogin()">Entrar</button>-->
<!--        </div>-->
    </ion-header-bar>
    <ion-content id="login-form" class="modal-form">
        <form ng-submit="doLogin()" class="login-form">
            <div class="icon product-icon center"></div>
            <div class="list list-inset">
<!--                <div class="item item-divider">-->
<!--                    Voltou?<br><span>Faça seu login para começar</span>-->
<!--                </div>-->
                <label class="item item-input ion-ios-at">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input ion-ios-locked">
                    <input type="password" placeholder="Senha">
                </label>
            </div>
            <button class="button button-block button-energized">
                ENTRAR
            </button>
<!--            <button class="button button-block button-energized" ng-click="touchIDLogin()">-->
<!--                TouchID-->
<!--            </button>-->
            <button class="button button-block button-clear" ng-click="forgotPassword()">
                Esqueceu sua senha?
            </button>
        </form>
    </ion-content>
</ion-modal-view>
