<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
          <button class="button button-icon button-clear {{rightButton}} icon-hover" ng-click="editProfile()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
        <div class="icon logo"></div>
<!--      <h1 class="title menu-title left">nupper</h1>-->
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/overview">
          Início
        </ion-item>
        <ion-item menu-close href="#/app/timeline">
          Timeline
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Perfil
        </ion-item>
        <ion-item menu-close href="#/app/diary">
            Diário
        </ion-item>
        <ion-item menu-close href="#/app/goals">
            Metas
        </ion-item>
        <ion-item menu-close href="#/app/configs">
            Configurações
        </ion-item>
        <ion-item menu-close ng-click="logout()">
            Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
