<ion-view title="<div class='icon logo center'></div>">
    <ion-content id="overview-content" delegate-handle="waterScroll" on-scroll="pageScroll()">
        <div class="row calory-container">
            <div class="col">
                <div class="calories-labels shadow-card-box">
                    <div class="weight-entries-title entries-title">
                        <h4 class="uppercase-label white">Calorias - hoje</h4>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h5 id="counterTo" class="gray">0</h5>
                            <h6 class="uppercase-label">consumidas</h6>
                        </div>
                        <div class="math-sign">-</div>
                        <div class="col">
                            <h5 id="counterToExercises" class="gray">0</h5>
                            <h6 class="uppercase-label">queimadas</h6>
                        </div>
                        <div class="math-sign equal">=</div>
                        <div class="col">
                            <h5 class="progress-result-container green"><span id="counterToCaloriesResult" class="progressResult">0</span><span class="metric">kcal</span></h5>
                            <h6 class="uppercase-label counter-to-calories-result-label">restantes</h6>
                        </div>
                    </div>
                    <div class="weight-container" ng-click="weightModal()">
                        <div class="circle-container" id="calory-circle-container">
                            <div class="circle text-center">
                                <div class="ion-ios-nutrition weight-meter-icon white center"></div>
                            </div>
                            <div class="weight-label">
                                <h6 class="text-center uppercase-label">{{caloriesUsed}} <span>kcal</span></h6>
                            </div>
                        </div>
                        <div class="weight-lost left" id="calory-progress"></div>
                        <div class="weight-meter right"></div>
                        <div class="row">
                            <div class="col initial-weight uppercase-label"><h6 class="">0 <span>kcal</span></h6></div>
                            <div class="col target-weight text-right uppercase-label"><h6 class="">{{allowedCalories}} <span>kcal</span></h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="shadow-card-box">
                    <div class="weight-entries-title meals-entries-title entries-title">
                        <h4 class="uppercase-label white">Próximas Refeições</h4>
                    </div>
                    <div class="meal-countdown entries-title">
                        <div class="ion-alert white left"></div><h4 class="uppercase-label white left">&nbsp;&nbsp;Seu café da manhã começa em <timer end-time="1451628000000">{{hours}}h {{minutes}}m {{seconds}}s</timer></h4><div class="clear"></div>
                    </div>
                    <div class="next-meal" ng-repeat="nextMeal in nextMeals">
                        <div class="next-meal-img center">
                            <img class="cd-timeline-img meal-img center" src="img/{{nextMeal.image}}.jpg">
                        </div>
<!--                        <ds-widget-clock show-analog></ds-widget-clock>-->
                        <canvas id="pie" class="chart chart-pie center" data="data" labels="labels" colours="colours" options="options"></canvas>
                        <h2 class="text-center">{{nextMeal.title}}</h2>
                        <p class="uppercase-label text-center no-padding"><span>{{nextMeal.time}}</span></p>
                    </div>
                    <ion-list>
                        <ion-item class="item-avatar meal-item" ng-repeat="meal in meals">
                            <img class="cd-timeline-img meal-img" src="img/{{meal.image}}.jpg">
                            <h2>{{meal.title}}</h2>
                            <p class="uppercase-label left"><span>{{meal.time}}</span></p>
                            <i class="icon ion-ios-arrow-right right"></i>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="row water-container">
            <div class="col">
                <div class="calories-labels shadow-card-box">
                    <div class="weight-entries-title entries-title">
                        <h4 class="uppercase-label white">Água</h4>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h5 id="counterToWaterGoal" class="gray">0</h5>
                            <h6 class="uppercase-label">meta</h6>
                        </div>
                        <div class="math-sign">-</div>
                        <div class="col">
                            <h5 id="counterToWater" class="gray">0</h5>
                            <h6 class="uppercase-label">consumidos</h6>
                        </div>
                        <div class="math-sign equal">=</div>
                        <div class="col">
                            <h5 class="progress-result-container green"><span id="counterToWaterResult" class="progressResult">0</span><span class="metric">ml</span></h5>
                            <h6 class="uppercase-label counter-to-calories-result-label">faltam</h6>
                        </div>
                    </div>
                    <div class="weight-container">
                        <div class="circle-container" id="water-circle-container">
                            <div class="circle text-center">
                                <div class="ion-waterdrop weight-meter-icon white center"></div>
                            </div>
                            <div class="weight-label">
                                <h6 class="text-center uppercase-label">{{totalWater}}<span>ml</span></h6>
                            </div>
                        </div>
                        <div class="weight-lost left" id="water-progress"></div>
                        <div class="weight-meter right"></div>
                        <div class="row">
                            <div class="col initial-weight uppercase-label"><h6 class="">0<span>ml</span></h6></div>
                            <div class="col target-weight text-right uppercase-label"><h6>{{waterGoal}}<span>ml</span></h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-padding-bottom">
            <div class="col no-padding-bottom">
                <div class="shadow-card-box diet-container">
                    <div class="weight-entries-title meals-entries-title entries-title">
                        <h4 class="uppercase-label white">Dieta</h4>
                    </div>
                    <div class="next-meal" ng-repeat="nextMeal in nextMeals">
                        <div class="next-meal-img center">
                            <img class="cd-timeline-img meal-img center" src="img/comida.jpg">
                            <div class="circle icon doctor-img center cd-timeline-img"></div>
                        </div>
<!--                        <canvas id="pie" class="chart chart-pie center" data="data" labels="labels" colours="colours" options="options"></canvas>-->
                        <h2 class="text-center">Dieta Vegetariana</h2>
                        <p class="uppercase-label text-center no-padding">5ª semana</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row weight-box no-padding">
            <div class="col no-padding">
                <div class="calories-labels shadow-card-box">
                    <div class="row text-center">
                        <div class="col">
                            <h5 id="counterToInitialWeight" class="gray">0</h5>
                            <h6 class="uppercase-label">inicial</h6>
                        </div>
                        <div class="divider"></div>
                        <div class="col">
                            <h5 id="counterToCurrentWeight" class="gray">0</h5>
                            <h6 class="uppercase-label">atual</h6>
                        </div>
                        <div class="math-sign light-orange">-</div>
                        <div class="col">
                            <h5 id="counterToWeightGoal" class="gray">0</h5>
                            <h6 class="uppercase-label counter-to-calories-result-label">meta</h6>
                        </div>
                        <div class="math-sign equal light-orange">=</div>
                        <div class="col">
                            <h5 class="progress-result-container green"><span id="counterToWeightResult" class="progressResult">0</span><span class="metric">kg</span></h5>
                            <h6 class="uppercase-label counter-to-calories-result-label">faltam</h6>
                        </div>
                    </div>
                    <div class="weight-container">
                        <div class="circle-container" id="weight-circle-container">
                            <div class="circle text-center">
                                <div class="ion-android-walk weight-meter-icon white center"></div>
                            </div>
                            <div class="weight-label">
                                <h6 class="text-center uppercase-label">{{currentWeight}}<span>kg</span></h6>
                            </div>
                        </div>
                        <div class="weight-lost left" id="weight-progress"></div>
                        <div class="weight-meter right"></div>
                        <div class="row">
                            <div class="col initial-weight uppercase-label"><h6 class="">{{initialWeight}}<span>kg</span></h6></div>
                            <div class="col target-weight text-right uppercase-label"><h6>{{weightGoal}}<span>kg</span></h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row evolution-container">
            <div class="col">
                <div class="shadow-card-box diet-container">
                    <div class="weight-entries-title meals-entries-title entries-title">
                        <h4 class="uppercase-label white">Evolução</h4>
                    </div>
                    <div class="next-meal" ng-repeat="nextMeal in nextMeals">
                        <div class="next-meal-img center">
                            <div class="loader center no-float">
                                <div class="loader-bg icon">
                                </div>
                                <div class="spiner-holder-one animate-0-25-a">
                                    <div class="spiner-holder-two animate-0-25-b">
                                        <div class="loader-spiner" style=""></div>
                                    </div>
                                </div>
                                <div class="spiner-holder-one animate-25-50-a">
                                    <div class="spiner-holder-two animate-25-50-b">
                                        <div class="loader-spiner"></div>
                                    </div>
                                </div>
                                <div class="spiner-holder-one animate-50-75-a">
                                    <div class="spiner-holder-two animate-50-75-b">
                                        <div class="loader-spiner"></div>
                                    </div>
                                </div>
                                <div class="spiner-holder-one animate-75-100-a">
                                    <div class="spiner-holder-two animate-75-100-b">
                                        <div class="loader-spiner"></div>
                                    </div>
                                </div>
                                <div class="circle icon badge-counter edit-img center text-center">5</div>
                            </div>
                        </div>
                        <h2 class="text-center">Nupper Cenoura</h2>
                        <p class="uppercase-label text-center no-padding">87000/100000 <span>pts</span></p>
                        <h6 class="text-center uppercase-label green">Próximo nível: Nupper Tomate</h6>
                    </div>
                    <div class="row no-padding">
                        <div class="col no-padding">
                            <h1 class="center gray">20</h1>
                            <h5 class="uppercase-label center green">conquistas</h5>
                        </div>
                        <div class="col no-padding">
                            <h1 class="center gray">50k</h1>
                            <h5 class="uppercase-label center green">nutricoins</h5>
                        </div>
                    </div>
                    <div class="row fork-knife-container">
                        <div class="col col-90"></div>
                        <div class="col" ng-click="recipes()">
                            <div class="right ion-knife gray"></div>
                            <div class="right ion-fork gray"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row health-place-container">-->
<!--            <div class="col">-->
<!--                <div class="shadow-card-box">-->
<!--                    <div class="weight-entries-title meals-entries-title entries-title">-->
<!--                        <h4 class="uppercase-label white">Produtos em Destaque</h4>-->
<!--                    </div>-->
<!--                    <div class="next-meal" ng-repeat="nextMeal in nextMeals">-->
<!--                        <div class="next-meal-img center">-->
<!--                            <div class="ion-ios-cart center icon text-center light-orange"></div>-->
<!--                        </div>-->
<!--                        <h2 class="text-center no-margin-top">Health Place</h2>-->
<!--                        <p class="uppercase-label text-center no-padding">Troque seus nutricoins aqui</p>-->
<!--                    </div>-->
<!--                    <div class="row products-container">-->
<!--                        <div class="col">-->
<!--                            <img src="img/barrinha.jpg">-->
<!--                            <h5 class="uppercase-label center gray">biO2 7 nuts Cramberry</h5>-->
<!--                            <h6 class="uppercase-label center green">N$ 1900</h6>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <img src="img/cha_verde.jpg">-->
<!--                            <h5 class="uppercase-label center gray">Nu3 Naturals Chá verde</h5>-->
<!--                            <h6 class="uppercase-label center green">N$ 1500</h6>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <img src="img/oleo_cartamo.jpg">-->
<!--                            <h5 class="uppercase-label center gray">BEA Óleo de Cártamo</h5>-->
<!--                            <h6 class="uppercase-label center green">N$ 2500</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </ion-content>
</ion-view>