<ion-view view-title="Timeline">
    <ion-content>
        <ion-refresher
            pulling-text=""
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row no-padding">
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block profile-block">
                    <div class="cd-timeline-img cd-picture circle icon profile-img profile-img-share" id="timeline-profile-img">
                    </div>
                    <div class="cd-timeline-content">
                        <div class="row status-header-card">
                            <div class="col col-90 left">
                                <h4 id="timeline-profile-name"></h4>
                                <span class="cd-date"><div class="ion-ios-clock-outline left"></div>&nbsp;Agora mesmo</span>
                            </div>
                            <div class="col col-10 right">
                                <div class="ion-ios-heart-outline right" on-icon="ion-ios-heart" off-icon="ion-ios-heart-outline" icon-switcher></div>
                            </div>
                        </div>
                        <div class="row photo-to-share-container">
                            <div id="photo-to-share" class="photo-to-share icon"></div>
                        </div>
                        <div class="row photo-to-share-container before-after-container">
                            <div id="photo-to-share-0" class="col col-50 photo-to-share icon"><div>Antes</div></div>
                            <div id="photo-to-share-1" class="col col-50 photo-to-share icon"><div>Depois</div></div>
                        </div>
                        <div class="row social-counter">
                            <div class="col col-50" ng-click="curtidas()"><div class="ion-ios-heart left"></div><div class="social-counter-label">235 curtidas</div></div>
                            <div class="col col-50 right" ng-click="comentarios()"><div class="col col-80 right no-padding-all"><div class="ion-ios-chatboxes left"></div><div class="social-counter-label">49 comentários</div></div></div>
                        </div>
                        <div class="row">
                            <div class="col list">
                                <label class="item item-input item-floating-label">
                                    <textarea placeholder="Compartilhe seu status"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row coment-container">
                            <div class="list">
                                <div class="item item-input-inset">
                                    <label class="item-input-wrapper">
                                        <input type="text" placeholder="Deixe um comentário...">
                                    </label>
                                    <button class="button button-small button-energized">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row share-options">
                            <div class="col">
                                <button class="button button-clear post-btn" ng-click="photoToShare()"><div class="ion-camera left"></div>Foto</button>
                            </div>
                            <!--Ser criativo e pensar em uma coisa nova que seja publicável em um app de dietas-->
<!--                            <div class="col">-->
<!--                                <span class="center">Resultado</span>-->
<!--                            </div>-->
                            <div class="col">
                                <button class="button button-clear post-btn right" ng-click="post()"><div class="ion-ios-redo left"></div>Publicar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </ion-content>
</ion-view>