<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear close ion-ios-close-empty icon-hover" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">Peso</h1>
        <div class="buttons">
            <button class="button button-clear close ion-ios-plus-empty" ng-click="updateWeight()"></button>
        </div>
    </ion-header-bar>
    <ion-content id="weight-modal-content">
        <canvas id="line" class="chart chart-line center" data="lineData" labels="lineLabels" legend="false" colours="lineColours" options="lineOptions" series="lineSeries"></canvas>
        <div class="weight-entries-title">
            <h4 class="uppercase-label white">Registros</h4>
        </div>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="weight in weights">
                <div class="cd-timeline-img weight-icon text-center {{weight.icon}}"></div>
                <h2>{{weight.number}}</h2>
                <p class="uppercase-label">{{weight.date}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>