.no-overflow-scroll{
    -webkit-overflow-scrolling: auto !important;
}
.no-margin{
    margin: 0;
}
.no-padding-all{
    padding: 0;
}
.no-padding-bottom{
    padding-bottom: 0;
}
body{
    -webkit-font-smoothing: antialiased !important;
}
.text-left{
    text-align: left;
}
.left{
    float: left !important;
}
.center{
    margin: 0 auto;
    text-align: center;
}
.clear{
    clear: both;
}
.text-right{
    text-align: right;
}
.right{
    float: right !important;
}
.title.menu-title{
    text-align: left !important;
}
.circle{
    border-radius: 200px;
}
.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.logo{
    background-image: url('../img/logo.png');
    background-size: 100% !important;
}
.bar-stable .logo{
    background-position: left;
    background-size: 85% !important;
    height: 30px;
    width: 100px;
}
.title-center .logo{
    margin-top:0.4rem;
}
.product-icon{
    background-image: url('../img/icon.png');
    border-radius: 15px;
    height: 71px;
    width: 72px;
}
.popup{
    border-radius: 12px !important;
}
.icon-hover{
    background-size: 300%;
    background-position: center;
    border-radius: 10px;
    width: 35px;
}
.icon-hover:hover{
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 28%, #ff9900, #ff9900);
}
.icon-hover:before{
    font-size: 2rem;
}

/*Tela de Login*/
#login-content{
    background-image: linear-gradient(rgba(255, 153, 0, 0.1), rgba(0, 0, 0, 0.6)), url('../img/login_bg.jpg');
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
#login-content .login-header{
    /*    margin-top: 30%;*/
}
#login-content .logo{
    height: 80px;
    width: 100%;
}
.subtitle{
    font-size: 1rem;
    font-weight: 400;
    padding:0 1rem;
}
.bar-footer .button-clear.button-clear{
    font-weight: 500;
}
.login-form{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -120px;
}
#login-content .slider{
    height: 0;
}
#login-content .box.box-tutorial{
    border-radius: 6px;
    height: 65%;
    margin: 1.5rem;
    margin-top: 3rem;
}
#login-content .box.box-tutorial .icon{
    height: 80%;
    width: 100%;
    background-size: 70% !important;
}
#login-content .box.box-tutorial .comunidade{
    background-image: url('../img/comunidade.png');
}
#login-content .box.box-tutorial .metas{
    background-image: url('../img/metas.png');
}
#login-content .box.box-tutorial .graficos{
    background-image: url('../img/graficos.png');
}
#login-content .box.box-tutorial .nutricoins{
    background-image: url('../img/nutricoins.png');
}
#login-content .box.box-tutorial .pesquisa{
    background-image: url('../img/pesquisa.png');
}
#login-content .box.box-tutorial .timeline{
    background-image: url('../img/timeline.png');
}
#login-content .slider-pager{
    bottom: 30px;
}
#login-content .ion-record:before{
    font-size: 0.6rem;
}
.bar-footer{
    display: block !important;
    bottom: 75px;
    padding: 0;
}
.not-social-buttons-container{
    height: 150px;
    padding: 15px;
    padding-top: 7px !important;
}
.social-button{
    border: none;
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
}
.social-button:before{
    padding-right: 0.4rem;
}
.social-button.google-button{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.social-button.facebook-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*Fim da Tela de Login*/

/*Telas de Cadastro e Login*/
.modal-form .login-form{
    top: 200px;
}
.modal-form .product-icon{
    /*    margin-top: 8rem;*/
}
.modal-form .item-divider{
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    text-transform: none;
    white-space: normal;
}
.modal-form .item-divider span{
    font-size: 1rem;
}
.modal-form button{
    border: none;
    margin: 0 auto;
    width: 95%;
}
.modal-form .item:before{
    font-size: 2rem;
    margin-right: 0.7rem;
    margin-top: -0.2rem;
}
.modal-form .ion-ios-locked:before{
    font-size: 1.5rem !important;
    margin-top: -0.3rem !important;
}
.modal-form .ion-ios-body:before{
    font-size: 1.5rem !important;
}
.input-label{
    font-size: 14px;
}
.policy{
    font-size:0.8rem;
    margin-top: 3rem;
}
/*Fim da Tela de Cadastro*/

/*Tela de Perfil*/
.profile-bar ion-header-bar{
    /*    background: linear-gradient(rgba(250, 105, 0, 0.7), rgba(250, 105, 0, 0.7)) !important;*/
    /*    background-position: 0rem -1.9rem !important;*/
    /*    background-repeat: no-repeat !important;*/
    /*    background-size: 100% !important;*/
    border-bottom: none !important;
    background-image: none !important;
    /*    height: 15rem !important;*/
    /*    -webkit-transform: translateY(-45px) translateX(-95px) rotate(-10deg) !important;*/
    /*    width: 135%;*/
    /*    z-index: 1;*/
}
.profile-bar .header-item{
    /*    margin-top: 40px !important;*/
    /*    -webkit-transform: rotate(10deg) !important;*/
}
.profile-bar .ion-navicon{
    /*    padding-left: 6.5rem !important;*/
}
.ion-edit:before, .ion-ios-bookmarks:before{
    font-size: 25px !important;
}
.ion-edit.edit-img:before{
    font-size: 13px !important;
}
.profile-bar .title.title-center.header-item{
    /*    left: 100px !important;*/
    /*    top: 68px;*/
    /*    font-size: 1.7rem;*/
    font-weight: normal;
    /*    text-align: left;*/
}
.profile-bar .buttons-right{
    /*    top: 10% !important;*/
    /*    right: 37% !important;*/
}
.profile-header{
    border-bottom: 2px solid #ffbf05;
    height: 12.7rem;
    width: 100%;
}
.profile-img{
    background-image: url('../img/woman-02.jpg');
    /*    border: 2px solid #FA6900 !important;*/
    height: 80px;
    margin: 0 auto;
    /*    margin-top: 2.5rem !important;*/
    transition: all 0.4s ease;
    width: 80px;
    /*    z-index: 900 !important;*/
}
#profile-img, .doctor-img{
    position: static;
}
.edit-img{
    height: 20px;
    margin-top: -1.3rem;
    margin-left: 57%;
    width: 20px;
}
.profile-name{
    /*    clear: both;*/
    font-size: 1.3rem;
    font-weight: 400;
    /*    margin: 8rem 0 10px -5.1rem !important;*/
    text-align: center;
}
.profile-name span{
    font-size: 0.9rem;
    font-weight: 500;
}
.social-info{
    background: rgba(0, 0, 0, 0.4);
}
.social-info .number{
    font-size: 1rem;
    font-weight: 500;
}
.perfil-page{
    /*    padding-top: 6rem;*/
}
#profile-content .slider{
    box-shadow: 1px 7px 11px -10px #e1e1e1 inset;
}
#profile-content .slider .box{
    padding-top: 1rem;
}
.no-padding{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.chart-label-container{
    padding-bottom: 3rem;
}
.chart-label .ball{
    width: 15px;
    height: 15px;
    border-radius: 120px;
    border: 2px solid;
}
.chart-label .label, .chart-total-label, .doctor-header span, .icon.diet h5, .diet-progress span, #cd-timeline .cd-date, .social-info, .recipe-status, .horario, #recipe-content h5, #recipe-content h6, #recipe-content h4, .squares-container h6, .meter .calory-meter, .initial-weight h6, .target-weight h6, .uppercase-label{
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding-top: 0.3rem;
    text-transform: uppercase;
}
.chart-label .label{
    white-space: nowrap;
}
.chart-label .number{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300 !important;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    text-shadow: 1px 1px 0px rgba(153, 153, 153, 0.32);
    width: 40px;
}
.chart-total-label{
    visibility: hidden;
    margin-top: -5.5rem;
    padding-bottom: 5rem;
}
.meals-entries-title{
    margin-top: 2.2rem !important;
}
.meal-countdown{
    margin-top: 0 !important;
}
.meal-countdown.entries-title h4{
    font-size: 0.7rem !important;
    margin: 0.2rem 0;
}
.meal-item{
    max-height: 71.4px !important;
    padding-top: 0.9rem !important;
}
.meal-item img{
    top: 14px !important;
}
.meal-item .ion-ios-arrow-right{
    font-size: 25px;
    margin-top: -0.7rem;
}
.doctor-img{
    background-image: url('../img/nutricionista.png');
    /*    border: 1px solid #097054;*/
    box-shadow: 0 0 0 2px #097054, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 0 4px rgba(0, 0, 0, 0.05);
    height: 50px;
    width: 50px;
}
.doctor-header p{
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.doctor-header span{
    padding-top: 0 !important;
}
.doctor-rating{
    background-color: #097054;
    background-image: url('../img/stars.png');
    background-size: 80% !important;
    height: 20px;
    margin-right: 0.2rem;
    margin-top: 0.7rem;
    width: 80%;
}
.icon.diet{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/comida.jpg');
    min-height: 180px;
    margin: 1rem auto;
    margin-bottom: 0;
    padding: 0;
    width: 95%;
}
.diet-title{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
.diet-title h2, .icon.diet h1{
    font-weight: 300;
    margin-top: 0;
}
.diet-title h5{
    padding-top: 0 !important;
}
.diet-progress{
    margin: 1.5rem 0;
    padding: 0 0.4rem;
}
.icon.diet h1{
    font-size: 3rem;
}
.weight-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/academia.jpg') !important;
    margin-top: 0.7rem !important;
    min-height: 82px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.weight-container .update-weight{
    padding: 0;
}
.weight-container .weight-lost{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 10px;
    width: 0%;
    transition: width 1.5s ease;
}
.weight-container .circle-container{
    margin-left: 0%;
    position: absolute;
    transition: margin-left 1.2s ease;
}
.weight-container .circle{
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    height: 40px;
    margin-top: -1rem;
    width: 40px;
}
.weight-container .circle .ion-android-walk{
    font-size: 27px;
    padding-top: 6px;
}
.weight-container .weight-meter{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 10px;
    width: 70%;
}
.weight-label .uppercase-label{
    padding-top: 0;
}
.initial-weight, .target-weight{
    padding-left: 0;
    padding-right: 0;
}
.initial-weight h6, .target-weight h6{
    margin: 0;
    padding-top: 0;
}
.pager-icon{
    padding-right: 0;
    padding-top: 0.1rem;
}
.pager-title{
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding-left: 0;
    padding-top: 0.7rem;
    text-transform: uppercase;
}
.arrow{
    font-size: 2rem;
    font-weight: 500;
}
.item-divider{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.doctor-img.almoco{
    background-image: url('../img/almoco.jpg');
}
.horario{
    font-size: 0.8rem;
    padding-top: 1.1rem;
    text-align: right;
}
.goals-container .icon.diet{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/carrots_bg.jpg');
    margin-top: 0.7rem;
    margin-bottom: 0;
}
.goals-container .icon.diet .goal-badge{
    background-image: url('../img/carot.png');
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 0 0 0 4px #FFDE00, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    height: 50px;
    margin-top: 0.5rem;
    margin-right: 1rem;
    position: relative;
    width: 50px;
}
.goals-container .chart-container{
    margin-top: -8rem;
    width: 98%;
}
.goals-container .chart-container canvas{
    margin-top: -3.95rem;
    height: 188px;
    width: 100%;
}
.points-container{
    padding-top: 0.6rem;
}
.fork-knife-container{
    margin-top: -2.5rem;
}
.goals-container .ion-fork:before, .goals-container .ion-knife:before{
    font-size: 27px;
}
.squares-container{
    padding: 0 0.6rem;
}
.squares-container .col{
    min-height: 90px;
    padding: 8px 0;
}
.squares-container .col .icon{
    font-size: 4rem;
}
.squares-container .col h4{
    font-weight: 400;
}
.squares-container .achievements{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/achievements.jpg') !important;
}
.squares-container .market{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/foodmarket.jpg') !important;
    border-left:3px solid rgba(225, 225, 225, 0.29);
}
.achievement{
    background-image: url('../img/sharer.png');
    height: 60px;
    width: 60px;
}
.pager{
    max-height: 40px !important;
    padding-top: 0 !important;
}
.pager button.button.button-icon.button-clear.ion-fork.right, .pager button.button.button-icon.button-clear.ion-knife.right{
    padding: 0;
    /*    font-size: 20px;*/
}
/*Fim da Tela de Perfil*/

/*Tela de Edição de Perfil*/
.ion-ios-close-empty:before{
    font-size: 2.2rem;
}
/*Fim da Tela de Edição de Perfil*/

/*Tela de Timeline*/
#cd-timeline{
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 1rem !important;
    padding-top: 0 !important;
    width: 100%;
}
#cd-timeline .cd-timeline-block{
    height: auto;
    transition: all 0.6s ease;
}
#cd-timeline .profile-block{
    clear: both;
    top: 0;
    transition: all 0.7s ease;
    z-index: 1;
}
#cd-timeline .profile-img{
    width: 40px !important;
    height: 40px !important;
}
#cd-timeline .profile-img-share{
    height: 60px !important;
    margin-left: -0.6rem;
    width: 60px !important;
    z-index: 99;
}
#cd-timeline .profile-block .cd-timeline-content::before{
    border: none;
}
#cd-timeline .cd-timeline-content{
    box-shadow: 1px 3px 1px -1px #e1e1e1;
}
#cd-timeline .cd-timeline-content{
    margin-left: 56px;
    padding-bottom: 0;
    padding-top: 0.5rem;
    transition: all 0.6s ease;
}
#cd-timeline .profile-block .cd-timeline-content{
    margin-left: 2rem;
    padding-left: 2rem;
}
#cd-timeline .profile-block .coment-container, #cd-timeline .profile-block .social-counter{
    display: none;
}
#cd-timeline .coment-container{
    padding-right: 0;
}
#cd-timeline .coment-container .list{
    width: 100%;
}
#cd-timeline .coment-container .item{
    border: none;
    padding: 0.4rem 0;
}
#cd-timeline .coment-container .item .button{
    border: none;
}
#cd-timeline .recent-post{
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
}
#cd-timeline .profile-block h4{
    font-weight: 300;
    font-size: 18px;
}
#cd-timeline h4{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    transition: all 0.3s ease;
}
#cd-timeline label{
    border: none;
    padding-left: 0;
}
#cd-timeline .profile-block .list, #cd-timeline .profile-block .list label{
    padding-bottom: 0;
}
#cd-timeline .cd-date{
    display: none;
    font-size: 0.6rem;
    letter-spacing: 0;
    padding: .1rem 0;
}
#cd-timeline .ion-ios-heart-outline{
    display: none;
}
#cd-timeline .status-header-card{
    padding: 0;
    padding-bottom: 0.5rem;
}
#cd-timeline .status-header-card .ion-ios-heart, .status-header-card .ion-ios-heart-outline{
    font-size: 1.5rem;
}
#cd-timeline p{
    margin: 0;
    margin-bottom:0.3rem;
    padding-bottom: 0;
}
#cd-timeline .social-counter .left{
    margin-right: 0.5rem;
}
#cd-timeline .social-counter-label{
    font-size: 0.7rem;
    white-space:nowrap;
}
#cd-timeline .ion-ios-chatboxes{
    margin-left: -0.5rem;
}
#cd-timeline .share-options{
    padding-bottom: 0;
    transition: all 0.6s ease;
}
#cd-timeline .share-options button{
    font-size: 0.9rem;
    white-space:nowrap;
}
#cd-timeline .ion-camera, .ion-ios-redo{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
#cd-timeline .photo-to-share-container{
    padding: 0;
}
#cd-timeline .photo-to-share{
    display: none;
    height: 250px;
    margin-bottom: 0.3rem;
    width: 100%;
}
#cd-timeline #photo-to-share{
    border-radius: 2px;
}
#cd-timeline #photo-to-share-0{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#cd-timeline #photo-to-share-1{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#cd-timeline .photo-to-share div{
    bottom: 7rem;
    font-size: 1.9rem;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px #444;
}
/*Fim da Tela de Timeline*/

/*Loader Spinner*/
.loader{
    position: relative;
    width: 55px;
    height: 55px;
    margin-right:1rem;
    margin-top: 0.3rem;
    float:left;
    user-select: none;
    box-sizing: border-box;
    z-index: 0;
}
.loader-bg
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
#profile-content .loader-bg{
    background-image: url('../img/carot.png');
}
.spiner-holder-one
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box;
    z-index: -1;
}
.spiner-holder-two
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
}
.loader-spiner
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 5px solid #FFDE00;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.animate-0-25-a
{
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}
.animate-0-25-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-25-50-a
{
    transform: rotate(180deg);
    transform-origin: 100% 100%;
}
.animate-25-50-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-50-75-a
{
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}
.animate-50-75-b
{
    transform: rotate(-90deg);
    transform-origin:100% 100%;
}
.animate-75-100-a
{
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}
.animate-75-100-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.text
{
    text-align: center;
    padding-top:32%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}
.badge-counter{
    margin-top: -1.1rem;
    margin-left: 65%;
    font-size: 0.8rem;
}
/*Fim do Loader Spinner*/

/*Tela de Receitas*/
.search-container{
    border-radius: 4px;
    margin: 10px 10px;
}
.search-container .item-input{
    border: none;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.search-container input{
    padding-top: 0.3rem;
}
.recipe-img, .meal-img{
    box-shadow: 0 0 0 3px #ffbf05, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
/*Fim da Tela de Receitas*/

/*Tela de Receita*/
.recipe-large-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bolo_cenoura.jpg');
    min-height: 70px;
    width: 100%;
}
.recipe-status{
    font-weight: 500;
}
.calory-calc{
    margin-top: -2.5rem !important;
}
.calory-counter-container{
    /*    max-width: 40% !important;*/
    /*    flex: 0 0 40%;*/
}
#recipe-content h4{
    font-size: 1rem;
}
.item-floating-label{
    border: none;
    border-bottom:1px solid #ddd;
}
label.item.item-input.item-floating-label.item-select{
    height: 40px;
    margin-top : 0.9rem;
}
label.item.item-input.item-floating-label.item-select select{
    direction: ltr;
    left: 0;
    padding: 0 0 0 16px;
}
.equal{
    font-size: 3rem;
    padding-top: 0.1rem;
    text-align: center;
    margin: 0 auto;
}
#recipe-content .loader{
    height: 100px;
    margin-top: 1.5rem;
    width: 100px;
}
#recipe-content .loader .loader-spiner{
    box-shadow: none;
}
#recipe-content .loader .text{
    font-size: 0.9rem;
}
.h-divider{
    border-top: 1px solid #ddd;
    margin-top: 2rem;
}
#recipe-content h5{
    font-size: 0.9rem;
}
#recipe-content h6{
    font-size: 0.8rem;
}
#recipe-content li{
    font-size: 0.8rem;
}
/*Fim da Tela de Receita*/

/*Progress Bar*/
.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
    box-shadow: -1px 2px 0px 1px rgba(0, 0, 0, 0.41);
    border-radius: 5px;
}
.meter > span {
    color: #fff;
    display: block;
    font-weight: 600;
    height: 20px;
    background: #ffbf05;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 2px 0px 1px #ecb105;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 0;
    white-space: nowrap;
    width: 0%;
    transition: width 1.5s ease;
}
.meter .calory-meter{
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0;
    white-space: nowrap;
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
    -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(255, 255, 255, .2)),
    color-stop(.25, transparent), color-stop(.5, transparent),
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent)
    );
    background-image:
				-moz-linear-gradient(
                -45deg,
                rgba(255, 255, 255, .2) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .2) 50%,
                rgba(255, 255, 255, .2) 75%,
                transparent 75%,
                transparent
                );
                z-index: 1;
                -webkit-background-size: 50px 50px;
                -moz-background-size: 50px 50px;
                -webkit-animation: move 2s linear infinite;
                -webkit-border-top-right-radius: 8px;
                -webkit-border-bottom-right-radius: 8px;
                -moz-border-radius-topright: 8px;
                -moz-border-radius-bottomright: 8px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                -webkit-border-top-left-radius: 20px;
                -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
                -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                overflow: hidden;
}

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}
.calory-meter{
    background: #999 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -0px 2px 0px 0px #666;
    padding-top: 0.2rem !important;
    width: 50%;
}
/*Fim do Progress Bar*/

/*Tela de Registro de Peso*/
ion-modal-view ion-header-bar{
    border-bottom: 3px solid #FFDE00 !important;
    background-image: linear-gradient(0deg, #FFDE00, #FFDE00 50%, transparent 50%) !important;
}
.ion-ios-plus-empty{
    font-size: 33px !important;
}
ion-modal-view .chart-container{
    height: 150px;
    margin: 1rem auto;
    width: 90%;
}
ion-modal-view .chart-container canvas{
    height: 100%;
    width: 90%;
}
ion-modal-view .uppercase-label, .entries-title .uppercase-label, ion-list .uppercase-label{
    padding-top: 0;
}
.weight-entries-title, .entries-title{
    margin-top: 2rem;
    padding: 0.1rem 1rem;
}
.weight-entries-title h4, .entries-title h4{
    font-size: 0.9rem !important;
}
.weight-icon{
    box-shadow: 0 0 0 4px, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    font-size:2rem;
    padding-top: 4px;
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}
ion-modal-view h2{
    font-weight: 600 !important;
}
.popup h3{
    font-size: 1.1rem;
}
.popup h5{
    font-size: 0.8rem;
}
/*Fim da Tela de Registro de Peso*/