ion-header-bar{ background-color: #FF9900 !important; background-image: linear-gradient(0deg, #FFDE00, #FFDE00 50%, #FFDE00 50%); /*border-bottom: 2px solid #FFE500 !important;*/ color: #fff; }
.bar-footer { background: transparent; }
/*.bar-footer .not-social-buttons-container{ background: rgba(0, 0, 0, 0.4) !important; }*/
ion-side-menu ion-header-bar{ background-image: linear-gradient(0deg, #FFDE00, #FFDE00 50%, #FFDE00 50%) !important; border-bottom: 2px solid #FFDE00 !important; }
.bar-footer .button-clear.button-clear, .ion-ios-bookmarks, .ion-navicon, .title.header-item, .title.menu-title, .profile-name, .ion-edit, .title, .close, .diet-title h2, .icon.diet h1, #cd-timeline .photo-to-share div, #login-content .login-header, .slider-pager .slider-pager-page, .edit-img, .fork-knife-container, .social-info, .bar-stable .button.button-clear, .white{ color: #fff !important; }
/*.profile-header{ border-bottom: 4px solid #FFDE00 !important; }*/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated, .modal-form .item:before { color: #FF9900; }
.profile-header, .edit-img{ background-color: #FF9900; }
.tab-nav.tabs{ background-image: linear-gradient(0deg, #FFDE00, #FFDE00 50%, #FFDE00 50%); background-color: #fff; }
.diet-progress{ background-color: #fff; color: #333; }
.profile-header{ background: linear-gradient(rgba(255, 153, 0, 1), rgba(255, 222, 0, 1)) !important; }
.profile-name span{ line-height: 0.5rem; }
ion-content, #cd-timeline .coment-container .item label{ background-color: rgba(225, 225, 225, 0.29) !important; }
.doctor-header p, ion-modal-view h2{ color: #444 }
#cd-timeline p, #recipe-content .loader .text{ color: #555; }
.chart-label, .chart-total-label, .pager-title, .doctor-header span, h4, h5.subtitle, #recipe-content h5, #recipe-content h5, #recipe-content h6{ color: #666; }
#cd-timeline .cd-date, .item-divider span, #recipe-content li{ color: #777; }
.meter .calory-meter, .weight-icon.gray{ color: #888; }
.input-label, .meal-item .ion-ios-arrow-right{ color: #999; }
.icon.diet h5, .arrow, .squares-container h6, .weight-icon.light-orange, .popup button{ color: #ffbf05 !important; }
.weight-container .weight-lost, .weight-entries-title{ background-color: #ffbf05; }
.weight-container .circle{ background-color: rgba(0, 0, 0, 0.79) !important; }
.orange.ball{ border-color: #FF9900; }
.yellow.ball{ border-color: #FFDE00; }
.gray.ball{ border-color: #ccc; }
.orange.number, .modal-form button.button-energized, #login-content{ background-color: #FF9900 !important; }
#recipes-content{ background-image: linear-gradient(#FF9900, rgba(225, 225, 225, 0.29)); }
.yellow.number{ background-color: #FFDE00; }
.gray.number{ background-color: #ccc; }
.login-form .list{ background-color: transparent; }
.ion-ios-heart, .ion-ios-heart-outline{ color: #097054; /*color: #e21737;*/ }
.ion-ios-chatboxes{ color: #ffc900; }
[nav-view-transition][nav-view-direction], #cadastro-form .list, #cadastro-form .item-divider{ background-color: transparent; }
.facebook-button{ background-color: #2a4b84; color: #fff; }
.facebook-button:hover{ background-color: #fff; color: #2a4b84; }
.google-button{  background-color: #fff; color: #c65446; }
.google-button:hover{ background-color: #c65446; color: #fff; }
#login-content .box.box-tutorial, .modal-form, #recipe-content, .weight-container .weight-meter, #weight-modal-content{ background-color: #fff !important; }
.ion-ios-circle-filled{ color: #FFDE00; }
.ion-ios-checkmark.green, .weight-icon.green{ color: #097054; }
.weight-icon.red{ color: #C00; }
.recipe-status, .meal-countdown{ background-color: #097054; }