<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear close ion-ios-close-empty icon-hover" ng-click="closeCadastro()"></button>
        </div>
        <h1 class="title">Cadastre-se</h1>
<!--        <div class="buttons">-->
<!--            <button class="button button-clear close" ng-click="closeCadastro()">Cadastrar</button>-->
<!--        </div>-->
    </ion-header-bar>
    <ion-content id="cadastro-form" class="modal-form">
        <form ng-submit="doLogin()" class="login-form">
            <div class="icon product-icon center"></div>
            <div class="list list-inset">
<!--                <div class="item item-divider">-->
<!--                    Parabéns! Você está dando seu primeiro passo :)-->
<!--                </div>-->
                <label class="item item-input ion-edit">
                    <input type="text" placeholder="Nome">
                </label>
                <label class="item item-input ion-ios-person">
                    <input type="text" placeholder="Usuário">
                </label>
                <label class="item item-input ion-ios-at">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input ion-ios-locked">
                    <input type="password" placeholder="Senha">
                </label>
                <label class="item item-input item-select ion-ios-body">
                    <div class="input-label">
                        Sexo
                    </div>
                    <select>
                        <option selected></option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                    </select>
                </label>
            </div>
            <button class="button button-block button-energized">
                CADASTRAR
            </button>
            <div>
                <div class="row not-social-buttons-container">
                    <div class="col text-center policy">Ao se cadastrar, você concorda com nossos <a>Termos de Serviço</a> e <a>Política de Provacidade</a></div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
