<ion-view view-title="Login" name="login-view">
    <ion-content class="padding icon no-overflow-scroll" scroll="false" has-bouncing="false" id="login-content">
        <ion-slide-box does-continue="true">
            <ion-slide>
                <div class="login-form">
                    <div class="box">
                        <div class="login-header">
                            <div class="icon logo center"></div>
<!--                            <h5 class="center subtitle">Sua dieta da forma certa</h5>-->
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box-tutorial">
                    <div class="icon comunidade center"></div>
                    <div class="login-header">
                        <h5 class="center subtitle">Participe da comunidade nupper e seja motivado com pontos e moedas</h5>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box-tutorial">
                    <div class="icon graficos center"></div>
                    <div class="login-header">
                        <h5 class="center subtitle">Acompanhe sua dieta de forma mais eficiente</h5>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box-tutorial">
                    <div class="icon metas center"></div>
                    <div class="login-header">
                        <h5 class="center subtitle">Atinja suas metas e ganhe cada vez mais conquistas</h5>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box-tutorial">
                    <div class="icon nutricoins center"></div>
                    <div class="login-header">
                        <h5 class="center subtitle">Troque seus nutricoins em nosso mercado de pontos por produtos que auxiliar na sua dieta</h5>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
<!--            <h1 class="brand-name center">nupper</h1>-->
<!--            <div class="list list-inset">-->
<!--                <form>-->
<!--                    <label class="item item-input">-->
<!--                        <input type="email" placeholder="Login" ng-model="loginData.username" required>-->
<!--                    </label>-->
<!--                    <label class="item item-input">-->
<!--                        <input type="password" placeholder="Senha" ng-model="loginData.password" required>-->
<!--                    </label>-->
<!--                    <a class="button button-block button-outline button-energized" type="submit" ng-click="login()">Entrar</a>-->
<!--                </form>-->
<!--            </div>-->
    </ion-content>
    <div class="bar bar-footer">
        <div class="row">
            <button class="button button-block social-button google-button col col-40 left ion-social-googleplus" ng-click="googleLogin()">Google</button>
            <button class="button button-block social-button facebook-button col col-40 right ion-social-facebook" ng-click="fbLogin()">Facebook</button>
        </div>
        <div class="row not-social-buttons-container">
            <button class="button button-clear col text-left left" ng-click="cadastro()">Criar conta</button>
            <button class="button button-clear col text-right right" ng-click="showLoginModal()">Entrar</button>
        </div>
    </div>
</ion-view>