<ion-view view-title="Perfil">
    <ion-content class="no-overflow-scroll" has-bouncing="false" id="profile-content">
        <div class="profile-header">
            <div class="row">
                <div class="col col-100">
                    <div class="circle icon profile-img cd-timeline-img" id="profile-img" ng-click="changePicture()"></div>
                    <div class="circle icon ion-edit edit-img center"></div>
                </div>
            </div>
            <div class="row no-padding-bottom">
                <div class="col col-100">
                    <p class="profile-name" id="profile-name">{{profileName}} <br> <span>{{profileUserName}}</span></p>
                </div>
            </div>
            <div class="row social-info text-center no-padding-bottom">
                <div class="col">
                    <span class="number">50</span><br>
                    <span class="label">publicações</span>
                </div>
                <div class="col">
                    <span class="number">150</span><br>
                    <span class="label">seguindo</span>
                </div>
                <div class="col">
                    <span class="number">200</span><br>
                    <span class="label">seguidores</span>
                </div>
            </div>
        </div>
        <ion-slide-box show-pager="false" does-continue="true" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box no-padding">
                    <div class="row">
                        <div class="col">
                            <div class="meter orange nostripes">
                                <span></span>
                                <div class="calory-meter center text-center white">1500/2000 calorias</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="weight-entries-title meals-entries-title entries-title">
                                <h4 class="uppercase-label white">Próximas Refeições</h4>
                            </div>
                            <div class="meal-countdown entries-title">
                                <div class="ion-alert white left"></div><h4 class="uppercase-label white left">&nbsp;&nbsp;Seu café da manhã começa em 2 horas</h4><div class="clear"></div>
                            </div>
                            <ion-list>
                                <ion-item class="item-avatar meal-item" ng-repeat="meal in meals">
                                    <img class="cd-timeline-img meal-img" src="img/{{meal.image}}.jpg">
                                    <h2>{{meal.title}}</h2>
                                    <p class="uppercase-label left">{{meal.time}}</p>
                                    <i class="icon ion-ios-arrow-right right"></i>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                    <!--                    <div class="row chart-label-container">-->
                    <!--                        <div class="col chart-label">-->
                    <!--                            <div class="orange ball center"></div>-->
                    <!--                            <p class="label center">Proteínas</p>-->
                    <!--                            <p class="orange number center">300</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="col chart-label">-->
                    <!--                            <div class="yellow ball center"></div>-->
                    <!--                            <p class="label center">Carboidratos</p>-->
                    <!--                            <p class="yellow number center">500</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="col chart-label">-->
                    <!--                            <div class="gray ball center"></div>-->
                    <!--                            <p class="label center">Gorduras</p>-->
                    <!--                            <p class="gray number center">100</p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="chart-container">-->
                    <!--                        <canvas id="doughnut" class="chart chart-doughnut center" data="data" labels="labels" colours="colours" options="options"></canvas>-->
                    <!--                        <p id="chart-total-label" class="chart-total-label center">Total</p>-->
                    <!--                    </div>-->
                    
                    <div class="pager row" style="margin-top: -0.85rem;">
                        <button class="button button-icon button-clear ion-ios-arrow-left col col-20 left arrow" ng-click="previousSlide()"></button>
                        <div class="col col-20 pager-icon" style="margin-left: 1rem;">
                            <button class="button button-icon button-clear ion-knife right"></button>
                            <button class="button button-icon button-clear ion-fork right"></button>
                        </div>
                        <div class="pager-title col col-30">
                            <p class="col col-100">Hoje</p>
                        </div>
                        <button class="button button-icon button-clear ion-ios-arrow-right col col-20 right arrow" ng-click="nextSlide()"></button>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box no-padding">
                    <div class="row nutricionista no-padding-bottom">
                        <div class="col col-20">
                            <div class="circle icon doctor-img center cd-timeline-img"></div>
                        </div>
                        <div class="col col-50 doctor-header">
                            <p>Paula Cristina</p>
                            <span>Nutricionista</span>
                        </div>
                        <div class="col col-30">
                            <div class="icon doctor-rating right"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon diet">
                            <div class="diet-title">
                                <div class="diet-progress right"><span>5ª semana</span></div>
                                <h2>Dieta Vegetariana</h2>
                                <h5>Sua meta é perder 7kg</h5>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <h1 class="center">2.1kg</h1>
                                    <h5 class="center">perdidos</h5>
                                </div>
                                <div class="col col-50">
                                    <h1 class="center">30%</h1>
                                    <h5 class="center">concluída</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon diet weight-container" ng-click="weightModal()">
                            <div class="row update-weight">
                                <div class="col">
                                    <div class="ion-ios-compose white text-right right"></div>
                                </div>
                            </div>
                            <div class="circle-container">
                                <div class="circle text-center">
                                    <div class="ion-android-walk white center"></div>
                                </div>
                                <div class="weight-label">
                                    <h6 class="text-center uppercase-label white">77.9kg</h6>
                                </div>
                            </div>
                            <div class="weight-lost left"></div>
                            <div class="weight-meter right"></div>
                            <div class="row">
                                <div class="col initial-weight"><h6 class="white">80kg</h6></div>
                                <div class="col target-weight text-right"><h6 class="white">73kg</h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="pager row">
                        <button class="button button-icon button-clear ion-ios-arrow-left col col-20 left arrow" ng-click="previousSlide()"></button>
                        <div class="col col-20 pager-icon" style="margin-left: 1rem;">
                            <button class="button button-icon button-clear ion-ios-nutrition right"></button>
                        </div>
                        <div class="pager-title col col-30">
                            <p class="col col-100">Dieta</p>
                        </div>
                        <button class="button button-icon button-clear ion-ios-arrow-right col col-20 right arrow" ng-click="nextSlide()"></button>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box no-padding">
                    <!--                    <div class="row nutricionista no-padding-bottom">-->
                    <!--                        <div class="col col-20">-->
                    <!--                            <div class="circle icon doctor-img almoco center cd-timeline-img"></div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col col-50 doctor-header">-->
                    <!--                            <p>Almoço</p>-->
                    <!--                            <span>Próxima Refeição</span>-->
                    <!--                        </div>-->
                    <!--                        <div class="col col-30 horario">-->
                    <!--                            às 12h30-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="goals-container">
                        <div class="icon diet">
                            <div class="diet-title">
                                <div class="loader right">
                                    <div class="loader-bg icon">
                                    </div>
                                    <div class="spiner-holder-one animate-0-25-a">
                                        <div class="spiner-holder-two animate-0-25-b">
                                            <div class="loader-spiner" style=""></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-one animate-25-50-a">
                                        <div class="spiner-holder-two animate-25-50-b">
                                            <div class="loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-one animate-50-75-a">
                                        <div class="spiner-holder-two animate-50-75-b">
                                            <div class="loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="spiner-holder-one animate-75-100-a">
                                        <div class="spiner-holder-two animate-75-100-b">
                                            <div class="loader-spiner"></div>
                                        </div>
                                    </div>
                                    <div class="circle icon badge-counter edit-img center text-center">5</div>
                                </div>
                                <!--                                <div class="diet-progress goal-badge icon cd-timeline-img right"></div>-->
                                <h2>Nupper Cenoura</h2>
                                <h5>Próximo nível: Nupper Tomate</h5>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <h1 class="center">20</h1>
                                    <h5 class="center">conquistas</h5>
                                </div>
                                <div class="col col-50">
                                    <h1 class="center">50k</h1>
                                    <h5 class="center">Nutricoins</h5>
                                </div>
                            </div>
                            <div class="row fork-knife-container">
                                <div class="col col-90 points-container"><div class="ion-ios-circle-filled left"></div><span class="left">&nbsp;87000/100000 pontos</span></div>
                                <div class="col col-10" ng-click="recipes()">
                                    <div class="right ion-knife"></div>
                                    <div class="right ion-fork"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row squares-container text-center">
                            <div class="col icon diet achievements"><div class="ion-ribbon-a center icon text-center white"></div><!--<div class="achievement icon circle center"></div>-->
                                <h6 class="no-margin">Última Conquista</h6>
                                <h4 class="white no-margin">Sharer</h4>
                            </div>
                            <div class="col icon diet market">
                                <div class="ion-ios-cart center icon text-center white"></div>
                                <h6 class="no-margin">Use seus nutricoins</h6>
                                <h4 class="white no-margin">Health Place</h4>
                            </div>
                        </div>
                        <!--                        <canvas id="line" class="chart chart-line center" data="lineData" labels="lineLabels" legend="false" colours="lineColours" options="lineOptions" series="lineSeries"></canvas>-->
                    </div>
                    <div class="pager row">
                        <button class="button button-icon button-clear ion-ios-arrow-left col col-20 left arrow" ng-click="previousSlide()"></button>
                        <div class="col col-20 pager-icon">
                            <button class="button button-icon button-clear ion-trophy right"></button>
                        </div>
                        <div class="pager-title col col-30">
                            <p class="col col-100">Evolução</p>
                        </div>
                        <button class="button button-icon button-clear ion-ios-arrow-right col col-20 right arrow" ng-click="nextSlide()"></button>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>