<ion-view view-title="Receita">
    <ion-content id="recipe-content">
        <div class="recipe-large-bg icon row row-bottom"><div class="col diet-title"><!--<div class="ion-ios-checkmark green right"></div><h5 class="right">Saudável</h5><br><br><br><br>--><h2>Bolo de Cenoura</h2></div></div>
        <div class="row recipe-status no-padding-bottom"><div class="col"><div class="white"><div class="ion-ios-checkmark white left"></div>&nbsp;&nbsp;Receita Saudável</div></div></div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">Calculdora de Calorias</h4>
            </div>
        </div>
        <div class="row row-center calory-calc">
            <div class="col col-33 calory-counter-container">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Quantidade</span>
                        <input type="number" placeholder="Quantidade">
                    </label>
                    <label class="item item-input item-floating-label item-select">
                        <select>
                            <option>grama</option>
                            <option selected>fatia</option>
                            <option>colher</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col col-33">
                <div class="equal">=</div>
            </div>
            <div class="col">
                <div class="loader center">
                    <div class="loader-bg">
                        <div class="text"></div>
                    </div>
                    <div class="spiner-holder-one animate-0-25-a">
                        <div class="spiner-holder-two animate-0-25-b">
                            <div class="loader-spiner" style=""></div>
                        </div>
                    </div>
                    <div class="spiner-holder-one animate-25-50-a">
                        <div class="spiner-holder-two animate-25-50-b">
                            <div class="loader-spiner"></div>
                        </div>
                    </div>
                    <div class="spiner-holder-one animate-50-75-a">
                        <div class="spiner-holder-two animate-50-75-b">
                            <div class="loader-spiner"></div>
                        </div>
                    </div>
                    <div class="spiner-holder-one animate-75-100-a">
                        <div class="spiner-holder-two animate-75-100-b">
                            <div class="loader-spiner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col col-25"></div><div class="col col-50 h-divider"></div><div class="col col-25"></div></div>
        <div class="row">
            <div class="col">
                <h5>Ingredientes</h5>
                <h6>Massa</h6>
                <p>
                <ul>
                    <li>2 unidade(s) de cenoura picada(s)</li>
                    <li>2 xícara(s) (chá) de açúcar</li>
                    <li>3 unidade(s) de ovo</li>
                    <li>1 xícara(s) (chá) de óleo de soja</li>
                    <li>2 xícara(s) (chá) de farinha de trigo</li>
                    <li>1 colher(es) (sopa) de fermento químico em pó</li>
                </ul>
                </p>
                <h6>Cobertura</h6>
                <p>
                <ul>
                    <li>2 colher(es) (sopa) de margarina</li>
                    <li>4 colher(es) (sopa) de água</li>
                    <li>4 colher(es) (sopa) de chocolate em pó</li>
                    <li>4 colher(es) (sopa) de açúcar</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Como Fazer</h5>
                <h6>Massa</h6>
                <p>
                <ul>
                    <li>Bata os quatro primeiros ingredientes da massa no liquidificador</li>
                    <li>Em seguida, coloque numa tigela a farinha de trigo e o fermento em pó e misture com a massa batida no liquidificador</li>
                    <li>Asse em fôrma tipo para pudim, média, untada e polvilhada com farinha de trigo, em forno a 150°(médio)</li>
                </ul>
                </p>
                <h6>Cobertura</h6>
                <p>
                <ul>
                    <li>Leve a margarina ao fogo até derreter</li>
                    <li>Misture os demais ingredientes, mexendo até soltar da panela</li>
                    <li>Faça furinhos no bolo de cenoura com o garfo e jogue a cobertura ainda quente</li>
                </ul>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
