<ion-view view-title="Receitas">
    <ion-content id="recipes-content">
        <ion-refresher
            pulling-text=""
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list list-inset search-container">
            <label class="item item-input">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" placeholder="Pesquisar">
            </label>
        </div>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="recipe in recipes" href="#/app/recipes/{{recipe.id}}">
                <img class="cd-timeline-img recipe-img" src="{{recipe.image}}">
                <h2 ng-model="teste.title">{{recipe.title}}</h2>
                <p ng-model="teste.description">{{recipe.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>